$max-nft-list-width: 1500px;
$max-nft-item-width: 250px;
$max-column-count: 5;

:export {
  maxNftListWidth: $max-nft-list-width;
  maxNftItemWidth: $max-nft-item-width;
  maxColumnCount: $max-column-count;
}

.page-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nft-list {
  display: grid;
  grid-template-columns: repeat($max-column-count, 1fr);

  .infinite-scroll-loader {
    grid-column-start: 1;
    grid-column-end: $max-column-count + 1;
  }

  @for $i from ($max-column-count - 1) through 1 {
    @media (max-width: ($max-nft-item-width * ($i + 1))) {
      grid-template-columns: repeat($i, 1fr);

      .infinite-scroll-loader {
        grid-column-start: 1;
        grid-column-end: $i + 1;
      }
    }
  }
}

.search-input {
  width: 50%;
  max-width: 400px;

  border-bottom: 1px solid #c4c4c4;
  padding: 5px 15px;
  text-align: center;
  font-size: 24px;
  outline: none;
}
